@charset "utf-8";
body{font-family:"微软雅黑"; font-size:14px; color:#333; background:black; color:white; position:relative;}
body.y-scroll{overflow-x:hidden; overflow-y:scroll;}
body>span{display:none;}
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,input,em{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:none;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li{list-style-type:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:''}
input,textarea{outline:none;font-family:"微软雅黑";font-size:14px;border:none;}
textarea{resize:none;}
input::-ms-clear{display:none;}
a{cursor:pointer;}
a:link,a:visited,a:hover,a:active {text-decoration:none;}
img{width:100%; height:auto;}
.clear{clear:both; width:0; height:0; margin:0; padding:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.center{position:absolute; left:0; right:0; top:0; bottom:0; margin:auto;}
.hide{display:none !important;}
.hidden{visibility:hidden;}
.ellipsis{white-space:nowrap; white-space:normal; overflow:hidden; text-overflow:ellipsis;}
.full{width:100%; height:100%;}
.no-scroll{overflow:hidden;}
::-webkit-scrollbar{display:none;}