.tip-box,
.wait-box{
	display:flex; justify-content:center; align-items:center;
	z-index:2000;
	background:rgba(0,0,0,.2);
}
.tip-box>span,
.wait-box>span{
	max-width:65%; line-height:26px;
	padding:20px 6%; border-radius:8px;
	background:black; color:white;
	text-align:center; font-size:1.6rem;
	box-shadow:0px 0px 10px black;
}

.ask-box,
.input-box{
	display:flex; justify-content:center; align-items:center;
	z-index:2000;
	background:rgba(0,0,0,.2);
}
.ask-wrap,
.input-wrap{
	position:relative;
	width:200px;
	padding:20px 6% 60px; border-radius:8px;
	background:black; color:#a0a0a0;
	text-align:center; font-size:1.6rem;
	box-shadow:0px 0px 10px black;
}
.ask-wrap>p,
.input-wrap>p{line-height:26px;}
.ask-wrap>div,
.input-wrap>div{
	position:absolute;
	bottom:0; width:50%; height:50px; line-height:50px;
	color:#db495d; cursor:pointer;
}
.ask-ok,
.input-ok{right:0;}
.ask-no,
.input-no{left:0;}
.input-wrap>input{
	display:block;
	width:200px; height:35px;
	padding:0 10px; border-radius:3px; margin:5px 0 0 -10px;
	background:#111; color:#a0a0a0;
	line-height:1;
}


